
.search-box{
    display: flex;
    align-items: center;
    width: 500px;
    height: 10px;
    border: 1px solid #999;
    background:white;
    margin-left: 110px;
    margin-top: 5px;

}
.search-box{
    width:540px;
    color: #555;
    height: 46px;
    font-size: 20px;
    background-color:red;
}
.search-box input{
    flex: 1;
    height: 15px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: white
}
.search-box button{
    flex:0.2;
    height: 46px;
    border: none;
    border-left: 1px solid #999;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color:white;
}
.search-box button:hover{
    background:#e6e6e6 ;
}
